.active{
    position:absolute;
}
.info{
    width: 50%;
    height: 300px;
    text-align: center;
    position: absolute;
    left: 25%;
    top: 10%;
    cursor: pointer;    
}

  
.container {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 47%;
    top: 60%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.center {
    width: 180px;
    height: 60px;
    position: absolute;
}
  
.btn {
    width: 280px;
    height: 40px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
    background-color: rgb(196, 16, 25);
}
  
svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}
  
.btn:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
}
  
.btn:hover svg {
    stroke-dashoffset: -480;
}
  
.btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
}

.btn2 {
    width: 280px;
    height: 40px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
    background-color:orange;
}
  
.btn2:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
}
  
.btn2:hover svg {
    stroke-dashoffset: -480;
}
  
.btn2 span {
    color: white;
    font-size: 18px;
    font-weight: 100;
}
.btn3 {
    width: 280px;
    height: 40px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
    background-color:#4F95DA;
}
  
.btn3:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
}
  
.btn3:hover svg {
    stroke-dashoffset: -480;
}
  
.btn3 span {
    color: white;
    font-size: 18px;
    font-weight: 100;
}
.red_dev{
    width: 100%;
    height: 270px;
    background-color:#a81213;    
    text-align: center;
}
li {
    display: inline-block;
}
.input_red{
    width: 500px;
}
.input_but{
    width: 500px; 
    height: 40px; 
    background-color: #1d8c84;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    cursor:pointer;
}
.input_but:hover{
    background-color: #fff;
    color: #1d8c84;
    transition: 1s;
}
.black_dev{
    width: 100%;
    height: 2400px;
    background: #322c3e;
    background: -moz-radial-gradient(center,ellipse cover,#322c3e 0,#1e1a25 36%);
    background: -webkit-radial-gradient(center,ellipse cover,#322c3e 0,#1e1a25 36%);
    background: radial-gradient(ellipse at center,#322c3e 0,#1e1a25 36%);
    padding: 9.0625em 0;
    position: relative;
    color: white;
}
.text_3{
    color: #ffffff;
    position: absolute;
    left: 20%;
    margin-top: 160px;
    text-transform: uppercase;
    background-color: #c72628;
}
.text_4{
    color: #14918a;
    margin-left: 150px;
}
.black_main{
    width: 600px;
    height: 200px;
    text-align: left;
    margin-left: 550px;
    margin-top: -260px;
}

.icon_div{
    width: 100%;
    height: 240px;
}
.icon_1{
     width: 200px;
     height: 230px;
     float: left;
     margin-left:20px;
}
.icon_2{
    width: 200px;
    height: 230px;
    float: left;
    margin-left:250px;
}
.glow-on-hover {
    width: 150px;
    height: 50px;
    border: 1px solid  ;
    outline: none;
    color: #fff;
    background: #322c3e;
    cursor: pointer;
    position: relative;
    z-index: 0;
    
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;    
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background:  #322c3e;
    left: 0;
    top: 0;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.video1{
    height: 500px;
    margin-left: 100px;
}
video{
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 254, 254, 0.19);
}
.textt{
text-align: center;
}
.stars_main{
    width: 1000px;
    height: 660px;
    background-color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    margin-left: 160px; 
    cursor: pointer;
}
.insid_main{
    width: 900px;
    height: 660px;
    background-color: #FAFAFA;
    margin: 0 50px 0 50px;
}
.row{
    display: flex;
}
.col_1{
    color: #17313b;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
}
.col_2{
    display: inline-block;
}
.rasm{
    
    width: 83px;
    height: 15px;
    position: relative;
    order: 3;
    align-self: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 17px;
    margin-top: 15px;
}
.section_star{
    width: 250px;
    height: 250px;
    background-color: white;
    display: inline-block;
    margin-left: 30px;
    margin-top: 20px;
}
.section_star:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 3px 20px 0 rgba(0, 0, 0, 0.10);
}
.section_star_in{
    width: 200px;
    height: 200px;
    background-color:white;
    margin-left:  25px;
    color:#6a7a7e;
}
.car_div{
    width: 100%;
    height: 800px;
    background: #0d1d37;
    background: -moz-radial-gradient(center,ellipse cover,#0d1d37 0,#162f59 100%);
    background: -webkit-radial-gradient(center,ellipse cover,#0d1d37 0,#162f59 100%);
    background: radial-gradient(ellipse at center,#0d1d37 0,#162f59 100%);
}
.text_01{
    font-size: 26.25em;
    color: #fff;
    opacity: .1;
    position: absolute;
    font-weight: 700;
    margin-left: -80px;
    cursor: none;
}
.text_car{
    width: 400px;
    height: 280px;
    text-align: left;
    margin-left: 200px;
    margin-top: 60px;
    color: #fff;
}
.plus{
    width: 500px;
    height: 200px;
    margin-left: 200px;
    margin-top: -300px;
    display: flex;
    justify-content:flex-start; 
}
.car_img{
    width: 800px;
    margin-left: 500px;
    margin-top: -120px;
}.link_car{
    color: #fff;
    margin-left: 1000px;
    margin-top: -700px;
}
.car_link{ 
    color: rgb(167, 166, 166);
    /* opacity: .5;   */
}
.car_link:hover{
    color: rgb(255, 255, 255);
    opacity: none;
    text-decoration: none;
}
.test_car{
    width: 100%;
    height: 500px;
    background: #f3f0f0;
    font-family: Montserrat,sans-serif;
}
.text_test{
    font-size: 48px;
    text-align: center;
    color: #000;
    font-weight: 700;
    font-family: Montserrat,sans-serif;   
    margin-left: -130px;
}
.video_test{
    display: flex;
    justify-content: start;
}
.video_aa{
    color: #000;
    text-align:left;
    font-family: Montserrat,sans-serif; 
    width: 600px;   
    height: 300px;
}
.rico{
    margin: 0 0 11px;
    font-size: 12px;
    line-height: 1.5625em;
    margin-left: 100px;
    font-family: Montserrat,sans-serif; 
}       
.img_video{
    width: 570px;
    height: 390px;
    margin-left:100px;
    position:absolute;
}
.video_man{
    margin-top: 40px;
    margin-left:160px;
    width: 450px;
    height: 300px;
    background-color:black;
    
}
.test_car2{
    width: 100%;
    height: 430px;
    background: #f3f0f0;
    font-family: Montserrat,sans-serif;
}
.section5{
    width: 100%;
    height: 2000px;
    background-color: cadetblue;
}
.left_div{
    width: 50%;
    height: 650px;
    background-color:rgb(232, 236, 229); 

}
.left_div2{
    width: 50%;
    height: 500px;
    background-color: rgb(232, 236, 229);
    
}
.section5_left{
    width: 350px;
    height: 220px;    
    background-color:rgb(232, 236, 229);
}
body{
    padding: 1.25em;
    padding-top: 1.25em;
    padding-right: 1.25em;
    padding-bottom: 1.25em;
    padding-left: 1.25em;
}
.section5_text{
    text-align: left;
}
.text_section{
    width: 100%;
    display: flex;
    justify-content: start;
}
.text-box {
    margin-left:200px;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    position: absolute;
    border: 1px solid black;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: rgb(232, 236, 229);
    color: #777;
    text-align: center;
    border: 1px solid black;
}

.btn::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}
.btn-white::after {
    background-color: rgb(232, 236, 229)ff;
}
.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}
.btn-animated {
    animation: moveInBottom 3s ease-out;
    animation-fill-mode: backwards;
}
@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
.section6{
    margin-top: -75px;
}
.right_div{
    width: 50%;
    height: 800px;
    background: rgb(31, 28, 216);
}
.right_red{
    margin-top: 200px;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#4be2d8; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #1d8c84; 
    }
.foot_main{
    width: 100%;
    background-color: black;
}
.col1_foot{
    background-color: rgb(0, 0, 0);
    height: 550px;
}
.foot_logo{
    margin-left: 100px;
    margin-top:80px;
    
}
.foot_logo ul li a{
    color: white;
    margin-left: 10px;
    text-align: left;      

}
.foot_logo ul{
    margin-left:-50px
}
.social-sec a{
    text-decoration: none;
}
.social_a{
    text-decoration: none;
}
.foot_img{
    width: 80%;
    height: 200px;
    margin-left: 80px;
}
.text_hos{
    color: #fff;
    margin-left: 30px;
    margin-top: 50px;
}
.col2_foot{
    height: 550px;
    color: #fff
}
.link_text_foot{
    font-size: 20px;
}
.footer_end{
    width: 100%;
    height: 60px;
    border-top: 1px solid white;
    display: flex;
    justify-content: space-between;
    color: white;
}
.animasiya_div{
    width: 200px;
    height: 300px;
    position: relative;
    animation: mymove 3s;
    animation-iteration-count: infinite;
    margin-top: 100px;
    margin-left: 10px;
    text-align: center;
  }
  
  @keyframes mymove {
    from {top: 0px;}
    to {top: 20px;}
  }
.arrow{
    color: white;
    font-size: 50px;
}
.car_number:hover{
    border: 1px solid white;
}